
@media (min-width: 991px) and (max-width: 1199px) {
    .row.cards-projects .my-card .content p {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    h1 {
        font-size: 25px;
    }
    #contact-us .row-contact-us {
        flex-direction: column-reverse;
    }
        #contact-us .box {
        width: 90%;
    }
    #contact-us .form {
        width: 90%;
    }
    #contact-us ul {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (max-width: 991px) {
    header {
        height: 100%;
    }
    #filter {
        padding-top: 0;
    }

    h1 {
        font-size: 23px;
    }
    p {
        font-size: 12px !important;
    }
    h3 {
        font-size: 18px;
    }
    .row-about {
        padding-bottom: 0;
    }
    #equipment {
        padding-top: 0;
    }
    .services-container {
        padding-block: 80px 20px;
    }
    .filter .select-group {
        width: 100%;
    }
    .filter form {
        flex-direction: column;
        align-items: center;
    }
    .filter form button {
        margin: 0;
        font-size: 13px;
        width: 150px;
        height: 35px;
    }
    /* #about-us .info p {
        padding-left: 0;
    } */
    #about-us .info {
        width: 100%;
    }
    .row-about {
        flex-wrap: wrap;
    }
    .mailing-list {
        padding-block: 80px 0;
    }
    #about-us .info h3 {
        font-size: 20px;
        font-weight: 600;
    }
    footer {
        margin-top: 0;
    }
    .president-section {
        padding-block: 20px;
    }
    .work-team .owl-stage-outer {
        padding-block: 20px;
    }
    .president-section {
        padding-bottom: 0;
    }
    .card-aboutUs {
        padding-block: 50px 0;
    }
    .our-partners {
        padding-block: 80px 0;
    }
    #equipment .row {
        gap: 0;
    }
    .employment-details {
        padding-bottom: 40px;
    }
}
@media (max-width: 830px) {
    #about-us .info h3 {
        font-size: 20px;
        font-weight: 600;
    }
}
@media (max-width: 768px) {
    /* Stop-Hover */
    .main-btn:hover::before {
        transform: none !important;
    }
    .main-btn:hover *,
    .second-btn:hover * {
        color: inherit !important;
    }
    .cards-projects .my-card:hover .content {
        top: 60%;
    }
    #contact-us ul li:hover .icon{
        background-color: var(--main-color);
        color: var(--color-white);
    }
    #equipment .items .item:hover .circle img {
        transform: none;
    }
    #equipment .items .item:hover::before {
        top: 20px;
    }
    .whatsapp-wrapper:hover .whatsapp-text {
        opacity: 0 !important;
        transform: translateX(20px) !important;
    }
    .who-we-are {
        padding-top: 0;
    }
    .who-we-are .main-image:hover::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .items .item .row-blog {
        gap: 0;
    }
    .other-blog .card-blog .info {
        max-width: 90% !important;
    }
    .employment .row {
        gap: 0;
    }
    footer .icons span:hover {
        width: 40px;
        border-radius: 50% !important;
        background-color: #fff !important;
        color: var(--main-color) !important;
    }
    footer .icons span.facebook:hover,
    footer .icons span.instagram:hover {
        background-color: #fff !important;
        background: #fff !important;
    }
    footer .icons span:hover a i,
    footer .icons span:hover a img {
        opacity: 1 !important;
        transform: translateX(0) !important;
    }
    footer .icons span:hover::after {
        opacity: 0 !important;
        transform: translateX(20px) !important;
    }


    /* ****************************************************** */
    h2.title {
        font-size: 18px;
        font-weight: 700;
    }
    .row {
        gap: 40px;
    }
    .row.services-container,
    .row.cards-projects {
        gap: 0;
    }
    /* .services-container {
        flex-direction: column;
    } */
    .row.items {
        gap: 20px;
    }
    .numbers .items .item span {
        font-size: 35px;
    }
    .who-we-are .row {
        gap: 60px;
    }
    .explore .nav-tabs {
        padding-top: 20px;
    }
    .explore .row {
        gap: 10px 0;
    }
}
@media (max-width: 650px) {
    h1 {
        font-size: 20px;
    }
    .explore .nav-tabs .nav-item {
        width: 25%;
    }
    .about-img-container {
        width: 100%;
    }
    .about-img-container .years-experience h3 {
        font-size: 40px;
    }
    .about-img-container .years-experience p {
        font-size: 15px;
    }
    .whatsapp {
        width: 35px;
    }
    .whatsapp-wrapper {
        right: 20px;
    }
    .whatsapp-text {
        font-size: 10px;
    }
    .card-blog {
        flex-direction: column;
        align-items: center;
    }
    .card-blog .image {
        width: 150px;
    }
    /* #equipment .items {
        padding-block: 40px 0;
    } */
    .mailing-list .image {
        width: 200px;
    }
    .lang-menu {
        top: 26px;
        right: -25px;
    }
    .lang-menu li {
        padding: 5px 10px;
        cursor: pointer;
        transition: .2s;
        font-size: 10px;
    }

}
@media (max-width: 575px) {
    nav .top-bar .logo img {
        width: 100px;
    }
    .filter .actions button {
        padding-block: 15px;
    }
    .filter .actions button a {
        font-size: 14px;
    }
    .filter .select-group select {
        font-size: 14px;
    }
    .filter .select-group .arrow-icon {
        width: 10px;
    }

    .mailing-list .text h5 {
        font-size: 25px;
    }
    .mailing-list .text .group-input {
        width: 350px;
    }
    /* .mailing-list .image {
        width: 300px;
    } */
    #about-us .info h3 {
        font-size: 15px;
        font-weight: 600;
    }
    h2.title {
        font-size: 14px;
    }
    #about-us .info ul {
        gap: 0;
    }
    /* footer .icons span {
        width: 30px;
        height: 30px;
    }
    footer .icons span a i {
        font-size: 14px;
    }
    footer .icons span a img {
        font-size: 16px;
    } */
}
@media (max-width: 485px) {
    p {
        font-size: 10px !important;
    }
    .winch {
        width: 250px;
    }
    .winch::before {
        top: -21px;
    }
    .hook {
        top: -60%;
    }
    .container-img {
        width: 100px;
        right: -26px;
        top: 39%;
    }
    .service-box .frame h3 {
        font-size: 15px;
    }
    #about-us .info h3 {
        font-size: 16px;
    }
    #about-us .info ul h6 {
        padding-bottom: 5px;
        font-size: 10px;
    }
    #about-us .info ul li::before {
        width: 3px;
        height: 3px;
    }
    .service-box {
        width: 350px;
        height: 280px;
    }
    .service-box .frame {
        padding: 15px;
    }
    .service-box .frame h3 {
        font-size: 13px;
    }
    .our-partners .mySwiper {
        justify-content: space-between;
    }
    #contact-us ul li .icon {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    label {
        font-size: 10px;
    }
    input,
    form select,
    form textarea {
        font-size: 10px !important;
    }
    .modal-body {
        padding: 5px;
    }
    input, form select, form textarea,.select-group select {
        height: 35px;
    }
    #contact-us ul li .text span:nth-child(1) {
        font-size: 10px;
    }
    #contact-us ul li .text span:nth-child(2) {
        font-size: 9px;
    }
    .filter .nav-tabs .nav-link, .explore .nav-tabs .nav-link {
        font-size: 12px;
    }
    .about-img-container .years-experience h3 {
        font-size: 25px;
    }
    .about-img-container .years-experience p {
        font-size: 10px;
    }
    #about-us .info ul li p {
        font-size: 8px !important;
    }
    .main-btn,
    .second-btn {
        width: 100px;
        height: 30px;
    }
    .main-btn *,
    .second-btn * {
        font-size: 10px;
    }
    .filter .nav-tabs .nav-link, .explore .nav-tabs .nav-link {
        padding-block: 15px;
    }
    input, form select, form textarea {
        padding: 5px;
    }
    .form form .group-input, .form form .select-group, form .textarea {
        gap: 5px;
    }
    .who-we-are .main-image {
        width: 250px;
    }
    .who-we-are .main-image::before {
        width: 220px;
        height: 220px;
    }
    .card-aboutUs .image {
        width: 270px;
    }
    .card-aboutUs .image::before {
        width: 270px;
        height: 200px;
    }
    .cards-projects .my-card {
        height: 270px;
    }
}
@media (max-width: 385px) {
    h1 {
        font-size: 15px;
    }
    .service-box {
        width: 290px;
    }
    .mailing-list .text h5 {
        font-size: 20px;
    }
    .mailing-list .text .group-input {
        width: 280px;
    }
    .mailing-list .text .group-input {
        height: 40px;
    }
    /* .mailing-list .image {
        width: 250px;
    } */
    .about-img-container .years-experience h3 {
        font-size: 20px;
    }
    .about-img-container .years-experience p {
        font-size: 7px;
    }
}